/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3A3F44;
    color: #fff;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

section {
    padding: 5rem 1rem;
    min-height: 50vh; /* Set a minimum height */
    box-sizing: border-box; /* Ensure padding is included in height calculations */
}

/* Home Section */
#home {
    background: linear-gradient(to right, #4A90E2, #357ABD);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: left;
}

.profile-image {
    border: 5px solid white; 
    box-shadow: 0 0 30px rgba(20, 18, 18, 0.8); 
    border-radius: 8px; 
    transform: rotate(20deg);
    margin-right: 100px;
}

.text-container {
    max-width: 600px;
    border-radius: 8px;
    margin-left: 40px;
    border: 5px solid white; 
    box-shadow: 0 0 30px rgba(20, 18, 18, 0.8); 
    width: 40%;
    text-align: center;
}

/* About Section */
#about {
    background: linear-gradient(to right, #5A9FEE, #4887D6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: left;
}

/* Skills Section */
#skills {
    background: linear-gradient(to right, #6AAEF9, #5795E2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: left;
}

/* Contact Section */
#contact {
    background: linear-gradient(to right, #7ABEF4, #689DDC);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

/* Portfolio Section */
#portfolio {
    background: linear-gradient(to right, #8ACDFD, #77B5E6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.portfolio-item {
    background-color: #DDD;
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #3A3F44;
    color: #fff;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .text-container {
        width: 50%;
    }
}

@media (max-width: 992px) {
    .text-container {
        width: 60%;
    }
}

@media (max-width: 768px) {
    #home {
        flex-direction: column;
        text-align: center;
    }

    .profile-image {
        margin-bottom: 20px;
        margin-right: 0;
    }

    .text-container {
        max-width: 100%;
        margin-left: 0;
    }

    .portfolio-item {
        width: 100%;
    }
}

@media (max-width: 576px) {
    /* Adjust layout for very small screens */
    .profile-image {
        width: 120px;
        height: 120px;
        margin-bottom: 15px;
    }

    .text-container {
        padding: 1rem;
        margin-left: 0;
        border: none;
    }

    section {
        padding: 3rem 1rem;
    }

    .portfolio-item {
        width: 100%;
        margin-bottom: 1rem;
    }
}
